<div class="contents row">
  <div class="container">
    <h3>レビューする</h3>
    <%= form_with model: @tweet, local: true do |f| %>
    
     <%= f.text_field :name, placeholder: "ゲーム名" %>
    <p>
      クリックしてファイルをアップロード
    </p>
      <%= f.file_field :image, id:"tweet-image" %>
      <%= f.text_area :text, placeholder: "レビュー内容", rows: "10" %>
      <%= f.submit "SEND" %>
    <% end %>
  </div>
</div>